/*@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500')*/

body {
	font-family: 'Maven Pro', sans-serif;
	margin: 0px;
}
.container{
	max-width: 1820px;
	height: 100%;
}
.nav{}
.block{
 color:  #9fa4af;
}
.a{
	text-decoration: none;
}
.ul{
	list-style: none;
}
.button{
	display: inline-block;
	color: #c2c9db;
	font-weight: bold;
	background-color: #fff;
    cursor: pointer;
    border-radius: 30px;
	text-transform: uppercase;
	padding: 20px 30px;
	border: none;
	outline: none;
	font-size: 12px;
	min-width: 175px;
}
.arrow{

}








.header {
 position: absolute;
 left: 0px;
 top: 0px;
 width: 100%;
 z-index: 2;
 padding: 50px 0;
}
.header__container{
	max-width: 1820px;
    display: flex;
    margin: 0 auto;
    padding: 0 50px;
    align-items: center;
    margin-top: -30px;
}
.header__logo{
	display: flex;
	align-items: center;
	text-decoration: none;
}
.header__logo-img{
	margin-right: 10px;
}
.header__title{
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: relative;
}
.header__nav{
	margin-left: auto;
}
.nav__list{
	display: flex;
	list-style: none;
	font-size: 1rem;
	color: #fff;
	padding: 0;
}
.nav__item{
	margin-right: 10px;
}
.nav___item :last-child{
	margin: 0;
}
.nav-item__current{
border-bottom: 1px solid transparent;
}
.nav__link{
	color: #fff;
	text-decoration: none;
	padding: 14px;
	border-bottom: 2px solid transparent;
}
.nav__link:hover{
	border-bottom: 2px solid #fff;

}
.header__button{
	display: inline-block;
	color: #fff;
	font-weight: bold;
	background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 30px;
	text-transform: uppercase;
	margin-left: 60px;
	padding: 20px 30px;
	outline: none;
	font-size: 12px;
}
.top{
	position: relative;
	background-image: url(../img/Background.png);
	background-position: center;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
}
.top__container{
	max-height: 100%;
	display: flex;
	align-items: center;
	position: relative;
}
.top__block{
	color: #fff;
	margin-left: 100px;
}

.block__aside{
	font-size: 12px;
 	position: relative; 
 	padding: 0 0 0 30px;
}
 .block__aside::before{ 
 	content: "";  
 	position: absolute; 
 	display: block;
 	width: 25px; 
 	height: 1px; 
 	background-color: #fff;
 	left: 0px;
 	top: 8px;
}
.block__title{
	font-size: 38px;
	font-weight: 500;
	margin: 0;
}
.block__text{
	font-size: 12px;
	margin: 30px 0px 30px 0px;
}

.top__arrow{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;  
	left: 50%; 
	bottom: 30px;
	background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px;
}
.info{
	background-image: url(../img/background2.png);
	background-repeat: no-repeat; 
	background-size: cover;
	height: 100vh;
	position: relative;
}
.info__container{
	position: relative;
	display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.info__block{
	margin-right: 250px;
	color:  #9fa4af;
	
}
.info__aside{
	position: relative;
	padding: 0 0 0 30px;
	text-transform: uppercase;
	font-size: 12px;
}
.info__aside::before{
	content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 1px;
    background-color: #6e45e2;
    margin-left: -30px;
    top: 8px;
    
}
.info__title{
	font-size: 35px;
	font-weight: 500;
	color:  #4f4f6f;
}
.info__text{
	font-size: 12px;
	margin: 30px 0px 30px 0px;
}
.info__button{}
.button__core{
	display: inline-block;
	color: #c2c9db;
	font-weight: bold;
	background-color: #fff;
    cursor: pointer;
    border-radius: 30px;
	text-transform: uppercase;
	padding: 20px 45px;
	margin-left: 10px;
}
.info__arrow{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #6e45e2;
	cursor: pointer;  
	left: 50%; 
	background-image: url(../img/arrows.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px;
    bottom: 30px;
}

.features__table{}
.table__item{}
.table__img{}
.about{
	background-image: url(../img/background4.png);
	height: 1070px;
}
.about__container{
	display: flex;
    justify-content: flex-end;
    align-items: center;
}
.about__block{
 /*color:  #9fa4af*/
} 
.about__aside{
	position: relative;
	padding: 0 0 0 30px;
	text-transform: uppercase;
}
.about__aside::before{
	content: "";
    position: absolute;
    display: block;
    width: 25px;
    height: 1px;
    background-color: #6e45e2;
    margin-left: -30px;
    top: 8px;
}
.about__title{
	font-size: 2.5rem;
	color:  #4f4f6f;
}
.about__text{
	margin: 40px 0px 40px 0px;
}
.about__arrow{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;  
	left: 70%; 
/*	bottom: 135px;*/
	background-image: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9px;
}
				
